.App {
  text-align: center;
}

.ReactLight {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
  justify-content: center;
}

.TrafficLight {
  display: flex;
  flex-direction: column;
  gap: 1px;
  background-color: rgb(5, 5, 5);
  border-radius: 12px;
}

.TrafficLight-light {
  height: 85px;
  width: 85px;
  border-radius: 50%;
  display: inline-block;
  margin: 5.3px;
}

.TrafficLight-light-off {
  background-color: rgb(61, 59, 59);
}

.TrafficLight-light-on {
  background-color: rgb(223, 17, 17);
}